header {
  nav {
    margin: 10px 0 20px;

    ul {
      overflow: auto;
      white-space: nowrap;

      li {
        display: inline-block;

        & + li {
          margin-left: 10px;
        }
      }
    }
  }
}
